* {
  font-family: Montserrat, serif;
  margin: 0;
  padding: 0;
}
header {
  background-image: url(../images/team.jpg);
  background-size: cover;
  height: 1024px;
}
.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  background: radial-gradient(
    90.76% 34369.61% at 4.31% 24.32%,
    rgba(255, 215, 0, 0.4) 0%,
    rgba(255, 199, 44, 0) 100%
  );
}

#logo {
  margin-left: 35px;
  padding: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 43px;
  color: #ffffff;
  text-shadow: 8px 10px 22px rgba(62, 62, 62, 0.75);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 43px;
  text-shadow: 8px 10px 22px rgba(62, 62, 62, 0.75);
  z-index: 1;
}

.links a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: underline;
}

#btnMenu {
  display: none;
}

.toggleMenu {
  font-size: 22px;
  display: none;
}

.jumbotron {
  display: flex;
  text-align: center;
  margin-top: 300px;
  flex-direction: column;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 1024px;
  background: linear-gradient(
    180deg,
    rgba(203, 203, 203, 0.1) 0%,
    #121212 100%
  );
  position: absolute;
  z-index: 0;
  top: 0;
}

.jumbotron-display h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #ffffff;
  text-shadow: 5px 7px 5px rgba(255, 255, 255, 0.45);
  z-index: 1;
  position: relative;
}
.display {
  width: 286px;
  height: 63px;
  background: #f9a826;
  box-shadow: 5px 8px 5px rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  z-index: 1;
  position: relative;
  top: 30px;
}
.program-icon img {
  width: 100px;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(.2);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

.footer-wrapper {
  display: flex;
  background: linear-gradient(90.51deg, #f9a826 7.55%, #f0e68c 97.77%);
}
.footer-logo {
  margin: 68px 278px 68px 49px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
  text-shadow: 8px 10px 22px rgba(62, 62, 62, 0.75);
}
.copyright {
  margin: 78px 300px 72px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.icon {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: #000000;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
  margin: 73px 54px 55px auto;
}
.follow {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 5px;
}
.our-wrapper {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  /* width: 100%; */
  height: 1024px;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.heading {
  padding-top: 20px;
}

.heading h2 {
  text-align: center;
  font-size: 100px;
  line-height: 122px;
  font-weight: bold;
  color: #f9a826;
}

.lingkaran {
  display: flex;
  flex-wrap: wrap;
}

.team {
  padding-bottom: 50px;
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.txt-name {
  padding-top: 15px;
  padding-left: 30px;
  /* color: white; */
  /* float: left; */
  /* flex: auto; */
  /* padding-left: 380px; */
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  /* text-align: left; */
  /* -webkit-text-stroke: 0.05em rgb(250, 246, 246); */
}

.team-bio {
  /* float: left; */
  /* padding-left: 220px; */
}

.team-bio img {
  /* float: left; */
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 4px solid powderblue;
}

.team-bio img:hover {
  border: 4px solid #f9a826;
  transform: scale(1.1)
}

.programs {
  display: flex;
  flex-direction: row;
  width: 910px;
  justify-content: center;
  background: #ffffff;
  box-shadow: 6px 9px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: -50px auto 0 auto;
  z-index: 3;
  position: relative;
}
.program-icon {
  display: flex;
  padding: 5px 10px;
  flex-direction: row;
}
.program-icon p {
  margin: 30px 0 0 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.about-wrapper {
  background-image: url(../images/bg1.jpg);
  margin-top: -60px;
  background-size: cover;
  width: 100%;
  height: 1024px;
  display: flex;
  flex-direction: row;
}
.about-image img {
  padding-left: 100px;
  margin-top: 200px;
  width: 683px;
  height: 558px;
  animation: nudge 5s linear infinite alternate;
}
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(50px, 0);
  }
  
  80% {
    transform: translate(-50px, 0);
  }
}
.about-content {
  flex-direction: column;
  align-self: center;
  padding-left: 50px;
}
.upper-text h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: #fff;
}
.upper-text span {
  color: #f9a826;
}
.content-text p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.btn-content{
  width: 175px;
  height: 58px;
  background: #f9a826;
  box-shadow: 5px 8px 5px rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-top: 15px;
}


